@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --font-inter: 'Inter', sans-serif;
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --border: 240 5.9% 90%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
}

.dark {
    --background: 0 0% 5%;
    --foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
}

body {
    @apply bg-zinc-50 text-zinc-900 antialiased font-sans transition-colors duration-300;
    font-family: 'Inter', sans-serif;
}

.dark body {
    @apply bg-[#050505] text-zinc-100;
}

/* Custom Subtle Scrollbar */
.scrollbar-subtle::-webkit-scrollbar {
    width: 2px;
}

.scrollbar-subtle::-webkit-scrollbar-track {
    background: transparent;
}

.scrollbar-subtle::-webkit-scrollbar-thumb {
    background-color: #3f3f46;
    /* zinc-700 */
    border-radius: 9999px;
    background-clip: content-box;
}

.scrollbar-subtle::-webkit-scrollbar-thumb:hover {
    background-color: #71717a;
    /* zinc-500 */
}